/*
file:	editor.css;
autor:	asdandgamer;
e-mail: asdandgamer;
--------------------------------
description: Styles for Item page;
*/

body {
	margin: 0 auto;
	/*align-content: center;*/
}
/*  ---- STD ----  */
.std_editor_form {
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #555;
	box-shadow: 0px 0px 8px black;
}
.std_size {
	width: 200px;
	font-size: 18px;
	font-family: 'Arial';
	display: inline-block;
}
.std_field {
	display: block;
	width: 100%;
	margin-top: 5px;
}
.std_label {
	text-align: right;
	width: 180px;
	margin-right: 5px;
}
.std_edit {
	width: 400px;
	padding-left: 3px;
	border: 1px solid grey;
	box-shadow: inset 0px 0px 4px #888;
}
.std_select {
	width: 403px;
	padding-left: 3px;
	border: 1px solid grey;
	box-shadow: inset 0px 0px 4px #888;
}	
.std_button {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	border: 1px solid #888;
	border-radius: 4px;
	padding: 3px 8px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.std_button:hover {	
	background-color: #eee;
	box-shadow: 0px 0px 5px #666;
}
.ok_btn {
	background-color: rgba(0, 180, 0, 0.7);
	margin-left: 5px;
}
.cancel_btn {
	background-color: rgba(180, 0, 0, 0.7);
	margin-right: 5px;
}
.std_btn_right {
	float: right;
}
.std_button_container {
	width: 100%;
	margin-top: 5px;
	display: table;
	background-color: #aaa;
	border-top: 1px solid #555;
}
/* --------------------------------------------------- */
.wrap {
	margin: 0 auto;
	width: 100%;
	position: absolute;
	align-items: center;
	z-index: 1;
}
.left_menu {
	min-width: 200px;
	width: 200px;
	display: table-cell;
	background-color: rgb(155, 155, 200);
}
.menu_item {
	cursor: pointer;
}
.menu_item_logo {
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
}
.menu_item_label {
	display: inline-block;
	/*width: 100%;*/
	height: 100%;
	font-weight: bold;
	font-family: Arial;
}
/*  --------   Info   -------   */
.editor_content {
	margin: 0 auto;
	display: table-cell;
	max-width: 1100px;
}
.header h1 {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid grey;
	margin: 0;
}
.item_description {
	/*border: 1px solid black;*/
	border-bottom: 1px solid grey;
}
.item_select {
	position: relative;
	left: -3px;
}
/*	----   Images  ------- */
.images_container {
	margin-top: 10px;
	/*border: 1px solid grey;*/
} 
.images_container h3 {
	margin: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid grey;
}
.images {
	/*padding-right: 4px;*/
	margin: 5px;
	/*border: 1px solid grey;*/
}
.image {
	margin: 4px 0px 0px 4px;

	width: 200px;
	height: 200px;
	display: inline-block;

	background-image: url('../IMG/up_img.png');
	background-size: 200px 200px;
}
.new_img {
	background-image: url('../IMG/add-file.png');
	background-size: 160px 160px;
	background-repeat: no-repeat;
	background-position: center;

	margin-top: 3px;

	/*border: 1px solid ;*/
	border-radius: 4px;
	box-shadow: inset 0px 0px 5px #333;

	width: 200px;
	height: 200px;
	display: inline-block;
}
/* -----  OVERDRAW   ------  */
.owerdraw {
	display: none;
	z-index: 2;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0, 0.3);
	position: fixed;
	/*padding: 10px 0px;*/
	/*top: 0;*/
}
.add_img_form {
	width: 236px;
}
.owerdraw_prew_img {
	margin-top: 5px;
	width: 200px;
	height: 200px;
	background-image: url('../IMG/up_img.png');
	background-size: 200px 200px;
	/*border: 1px solid #222;*/
	border-radius: 8px;
	box-shadow: 0px 0px 5px #222;
}
.img_upload_container {
	padding: 5px;
}
.progress {
	margin: 5px 0px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #666;
	width: 200px;
}
.myprogress {
	border-radius: inherit;
	background-color: #008080;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 1px white;
	width: 100%;
}
.file_input {
	width: 200px;
	border-radius: 3px;
	border: 1px solid #666;
	box-shadow: inset 0px 0px 5px #666;
}
.file_input::-webkit-file-upload-button {
	background-color: #aaa;
	border-radius: 2px;
	padding: 3px 8px;
	border: 1px solid #888;
}
.img_upload_container {
	padding: 12px;
	margin: 5px;
	border-radius: 12px;
	box-shadow: inset 0px 0px 5px #666;
	display: inline-block;
}
.form-group {
	padding: 3px 0px;
	border-radius: 8px 8px 0px 0px;
	/*border: 1px solid;*/
}
/*  -------  Collection Editor  --------  */

.collection_editor {
	display: none;
	z-index: 2;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0, 0.3);
	position: fixed;
}

.collection_editor_form {
	width: 650px;
}

/*  ---------- FAKE VISITS  -------------  */

.visits_table {
	border-collapse: collapse;
	/*table-layout: fixed;*/
	width: 100%;
}
.visits_table td {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	overflow-wrap: break-word;
}
.visits_table .td_ip{
	color: #a00;
}
.visits_table .spec_td {
	overflow-wrap: break-word;
	border-right: none;
}
.visits_table .ipinfo {
	/*max-width: 150px;*/
}
.visits_table .browser {
	max-width: 150px;
}
.visits_table .ref_link {
	color: blue;
	max-width: 150px;
}

/*  ---------- ADAPTIVE -----------------  */

@media only screen and (max-width: 900px) {
	.left_menu {
		min-width: 40px;
		width: 40px;
	}
	.menu_item_label {
		display: none;
	}
}