/*---------------------------------------------#
	author:	Andrii Olhasiuk
	e-mail:	asdandgamer@gmail.com
	  name:	asdandgamer
#---------------------------------------------*/

/*   ***   MAIN   ***   */

	body {
		margin: 0 auto;
		align-content: center;
		background-color: #4c4c4c;
	}
	a {
		text-decoration: none;
	}
	div {
		/* ----   for febug -----*/
		/*border: 1px solid black; */
	}

	@-ms-viewport{
	  width: device-width;
	}

	.wrap {
		max-width: 1100px;
		/*min-width: 600px;*/
		margin: 0 auto;
		background-color: #eee;
		box-shadow: 0px 0px 20px #000;
	}

	.social_icon>div {
		float: right;
		display: inline-block;
		font-size: 24px;
		padding-left: 4px;
		padding-top: 4px;
	}
	.social_icon>div>img {
		width: 45px;
		height: 45px;
		/*margin: 0 px;*/
	}
	.social_icon>div>img:hover {
		box-shadow: 0px 0px 8px white;
		border-radius: 13px;
	}
/*   ***   END MAIN   ***   */

/*   ***   HEADER   ***   */

	.header {
		width: 100%;
		background-image: url("../img/logo.png");
		background-repeat: no-repeat;
	    /*background-attachment: fixed;*/
	    background-position: 50% 5px;
	    background-size: 250px 150px;
	    background-color: #222;
	    height: 160px;
	    
	}
	.header_side {
		margin: 20px;
		margin-bottom: 0px;
		min-width: 230px;
	}
	.header_left {
		float: left;
	}
	.head_side_menu {
		display: table;
		width: 100%;
	}
	.head_side_menu>a {
		display: table-cell;
	}
	.head_side_menu div {
		font-size: 18px;
		font-family: "Goudy Bookletter 1911", sans-serif;
		color: #dfc154;
	}
	.header_center {
		position: absolute;
		/*clear: both;*/
		margin-top: 0;
		/*display: inline-block;*/
		height: 160px;
		cursor: pointer;
		width: 250px;
		/*margin-left: 131px;*/
		margin-right: 0;
	}
	.header_right {
		float: right;
		text-align: right;
		margin-left: 0;
	}
	.socials {
		text-align: right;
		font-size: 18px;
		font-family: "Goudy Bookletter 1911", sans-serif;
		color: #929292;
	}
	.socials_at_head {
		margin-top:  25px;
	}
	.contacts_at_head {
		margin-top:  25px;
		font-family: Helvetica;
		color: #929292;
	}

/*   ***   END HEADER   ***
  _________________________  */

/*   ***   Content   ***   */
	.content_wrap {
		background-color: #222;		
	}
	.video {

	}
	.main_page_labels {
		text-align: center;
		width: 100%;
		font-size: 28px;
		text-transform: uppercase;
		font-weight: bold;
		font-family: Arial;
		padding: 10px 0px;
		color: #fff;
	}
	.breadcrumbs {
		padding: 10px 0px;
		background-color: #222;
		text-align: center;
		width: 100%;
		font-size: 18px;
		font-family: "Goudy Bookletter 1911", sans-serif;
		text-transform: uppercase;
		color: #fff;
	}
	.breadcrumbs>a {
		color: #dfc154;
	}

	.text {
		text-align: center;
		width: 100%;
		font-size: 28px;
		text-transform: uppercase;
		font-weight: bold;
		font-family: Arial;
		padding: 10px 0px;
		color: #222;
		/*text-shadow: 0px 0px 3px #555;*/
	}

	.product_categories {
		background-color: #eee;
		padding-top: 10px;
	}

    .product_category {
    	cursor: pointer;
    	display: inline-block;
    	border: 1px solid #bbb;
    	/*background-color: rgba(180, 180, 180, 0.8);*/
    	background-color: #fff;
		/*display: inline-flex;*/
		margin-left: 10px;
		margin-bottom: 10px;
		min-width: 160px;
		/*width: 300px;*/
	}
	.product_category:hover {
		box-shadow: 0px 0px 8px #888;

	}
	.product_category .label{
		background-color: rgba(255, 0, 0, 0.7);
		padding: 8px 0px;
		height: 20px;
		width: 100%;
		text-align: center;
	}
	.product_category .label>span {
		font-size: 18px;
		font-family: 'Arial';
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
	}
	.product_category .image {
		margin: 5px;
		/*border: 1px solid #888; /*  !debug  */
		width: 336.687px;
		/*margin-top: 0;*/
		height: 336.687px;
	}
	.product_category .image>img {
		-o-object-fit: cover;
    	object-fit: cover;
	}
	.map {
		font-size: 60px;
		text-align: center;
		height: 600px;
		margin: 10px;
		margin-top: 0px;
		background-color: #ddd;
	}
	.welcome_text {
		background-color: rgb(214, 172, 33);
		color: #222;
		text-align: center;
		font-family: Lobster;
		font-size: 30px;
		border-top: 2px solid #aaa;
		border-bottom: 2px solid #aaa;
	}
	.promo_sticker {
		position: absolute;
		width: 100px;
		background-color: #ba9d32;
		text-decoration: none;
		color: #fff;
		text-align: center;
		font-family: Arial;
		font-weight: bold;
		font-size: 32px;
		border: 4px solid #fff;
		border-radius: 0px 0px 12px 12px;
        margin: 27px 0px 0px 13px;
        box-shadow: 0px 5px 20px #222;
        /* Safari */
		-webkit-transform: rotate(-45deg);
		/* Firefox */
		-moz-transform: rotate(-45deg);
		/* IE */
		-ms-transform: rotate(-45deg);
		/* Opera */
		-o-transform: rotate(-45deg);
		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
	/*  *************** Item *************************** */
	#main_img {
		width: 100%;
		align-content: center;
		margin-bottom: 5px;
	}
	#main_img>img {
		display:block;
    	margin-left: auto;
		margin-right: auto;
		padding: 5px;
		background-color: #fff;
		box-shadow: 0px 0px 5px #555;
		/*width: 100%;*/
		/*position: relative;*/
	}
	#slider_div {
		display:block;
    	margin:auto;
    	justify-content: center;
	}
	#slider {
		width: 852px;
		display: table;
		margin-bottom: 5px;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#slider>li {
		display: inline-block;
		margin-left: 5px;
	}
	#slider img {
		padding: 3px;
		background-color: #fff;
		box-shadow: 0px 0px 3px #555;
	}
	.nav_btn {
		display: inline-block;
		width: 150px;
		height: 200px;
		/* --------------------- */
		background-repeat: no-repeat;
	    background-position: 0px +25px;
	    background-size: 150px 150px;
	    background-color: rgba(20, 20, 20, 0.3);
	    /* ------------------------- */
	    border: 1px solid #aaa;
	}
	#prev_btn {
		background-image: url('../img/navigate_prev.png');
		border-radius: 0px 10px 10px 0px;
	}
	#next_btn {
		background-image: url('../img/navigate_next.png');
		border-radius: 10px 0px 0px 10px;
		float: right;
	}
	.image_slide_buttons_container {
		position: absolute;
		margin-top: 27%; 
		z-index: 2;
		width: 1100px;
	}

/*   ***   END CONTENT   ***   */

/*   ***   FOOTER   ***   */

	.footer {
		padding: 20px;
		padding-bottom: 0;
		background-color: #222;
	}
	.contacts_at_foot {
		min-width: 230px;
		float: left;
		font-family: Helvetica;
		color: #929292;
	}
	.socials_at_foot {
		min-width: 230px;
		float: right;
	}

	.bottom_footer {
		width: 100%;
		clear: both;
		display: table;
		/*padding: 20px;*/
	}
	.bottom_footer a{
		font-size: 14px;
		font-family: Arial;
		color: #929292;
	}
	.bottom_footer_category {
		display: table-cell;
		padding: 0 20px 20px;
		/*width: 20%;*/
	}
	.bottom_footer_category:first-child {
		padding-left: 0;
	}
	.bottom_footer_category:last-child {
		padding-right: 0;
	}
	.bottom_footer_category>div {
		font-size: 18px;
	    font-family: "Goudy Bookletter 1911", sans-serif;
	    color: #dfc154;
	    /*text-align: center;*/
	}
	.bottom_footer_category>ul li {
		list-style-type: none; /* Убираем маркеры */

		font-size: 14px;
		font-family: Arial;
		color: #929292;
	}
	.bottom_footer_category>ul {
		margin-left: 0px; /* Отступ слева в браузере IE и Opera */
		padding-left: 0px; /* Отступ слева в браузере Firefox, Safari, Chrome */
		padding-top: 0;
		margin-top: 5px;
	}

/*   ---   END FOOTER   ---   */


/*  ADATPIVE  */
@media only screen and (max-width: 1100px) {
	.image_slide_buttons_container {
		width: 100%;
	}
}
@media only screen and (max-width: 840px) {
	.nav_btn {
		width: 110px;
		height: 140px;
		background-position: +10px +23px;
		background-size: 90px 90px;
	}
	@-ms-viewport{
	  width: device-width;
	  scale: 0.6;
	}

}

@media only screen and (max-width: 775px) {
	.contacts_at_head {
		display: none;
	}
	.text {
		padding: 7px 0px;
		font-size: 24px;
	}
	.nav_btn {
		width: 100px;
		height: 125px;
		background-position: +9px +21px;
		background-size: 82px 82px;
	}
	.header_side {
		min-width: 180px;
		margin: 10px;
	}
	.head_side_menu {
		display: block;
	}
	.head_side_menu>a {
		display: block;
		margin-left: 8px;
	}
	.bottom_footer_category {
		display: block;
		padding: 0;
		padding-bottom: 30px;
	}
	.bottom_footer_category>div {
		font-size: 22px;
	}
	.bottom_footer_category a {
		font-size: 20px;
	}

/*	.header_center {
		margin-top: 0px;
	}*/
}

@media only screen and (max-width: 640px) {
	.text {
		padding: 5px 0px;
		font-size: 18px;
	}
	.nav_btn {
		width: 80px;
		height: 110px;
		background-position: +8px +21px;
		background-size: 70px 70px;
	}
	.socials_at_head {
		display: none;
	}
	/*-----------------------------*/
	.product_category .label {
		height: 24px;
	}
	.product_category .label>span {
		font-size: 20px;
	}
	/*-------------------------*/
	.socials_at_foot {
		min-width: 160px;
	}
	.contacts_at_foot {
		font-size: 15px;
	}
	@-ms-viewport{
	  width: device-width;
	  scale: 0.6;
	}
}