/*---------------------------------------------#
	author:	Andrii Olhasiuk
	e-mail:	asdandgamer@gmail.com
	  name:	asdandgamer
#---------------------------------------------*/
/* Зовнішній вигляд меню */
.main_menu {
	background-color: rgba(255, 0, 0, 0.7);
	/*border: 5px solid #ffffff;*/
	border-top: 2px solid #ffffff;
	/*border-radius: 10px;*/
	/*width: 100%;*/

	/*color: #ffffff;*/
	font-family: 'Arial';
	font-weight: bold;
	/*padding-bottom: 2px;*/
}
.main_menu a {
	color: #ffffff;
}
.main_menu_mul {
	margin: 0;
	padding: 0;
	/*margin: 0px 50px 0px 50px;*/
	display: table;
	width: 100%;
}
.main_menu_empty_space {
	width: 50px;
	display: table-cell;
}
.main_menu_mul>li:last-child{
	width: 0 auto;
}
.main_menu_mul>li {
	display: table-cell;
	width: 18%;
	text-align: center;

	padding: 10px 0px;
}
/*.main_menu_mul>a {
	padding: 10px 0px 10px 0px;
}*/
.main_menu_mul>li:hover {
	background-color: rgba(190, 190, 190, 0.2);
}
.main_menu_mul>li:hover .menu_drop {
	display: table-column;
}
/* Вспливаючі меню */

.menu_drop {
	padding: 0;
	margin: 0;
	margin-top: 10px; 
	width: 252px;
	position: absolute;
	z-index: 9999;
	display: none;
	text-align: left;
	/* ---------------  */
	list-style: none;
	box-shadow: 5px 5px 5px #111;
	transition: 0.5s opacity;
}

.menu_drop a {
	display: block;
	background: #3e3e3e;
	padding: 10px 0px 10px 10px;
	width: initial;
	font-size: 16px;
	font-family: Helvetica;
	font-weight: normal;
	color: #fff;
	border-bottom: 1px solid #777;
	transition: 0.5s all;
}
.menu_drop a:hover {
	background: #6e6e6e;
}
/*.menu_drop li:last-child a{
	border-radius: 0px 0px 4px 4px;
}*/


/*  ADATPIVE  */

@media only screen and (max-width: 840px) {
	.main_menu_mul li {
		width: 100%;
	}
	.main_menu_empty_space {
		display: none;
	}
	.main_menu_mul {
		font-size: 20px;
		width: 100%;
		display: block;
	}
	.main_menu_mul>li {
		width: 100%;
		display: block;
		
	}
	.main_menu_mul>li:hover {
		padding-bottom: 0;
	}
	.menu_drop {
		width: 100%;
		position: relative;
		z-index: 0;
		/*display: block;*/
		box-shadow: none;
	}
	.menu_drop:hover {
		display: block;
	}
	.menu_drop a {
		/*padding: 0;*/
		display: block;
		/*width: initial;*/
	}
	.menu_drop a:hover {
		display: block;
		background: #6e6e6e;
	}
	.main_menu_mul>li:hover .menu_drop {
		display: block;
	}
	.menu_drop>li {
		width: 100%;
	}
}