/*
file:	ADMT_main.css;
autor:	asdandgamer;
e-mail: asdandgamer;
--------------------------------
description: Main styles;
*/

/* standart elements ---------------*/
body {
	margin: 0;
	font-family: "Arial";
}
pre {
	margin: 0;
}
hr {
	margin: 0;
}
h2 {
	margin: 0;
	text-align: center;
}
/*--- TABLE  -----*/
table {
	border-collapse: collapse;
	/*table-layout: fixed;*/
	width: 100%;
}
td {
	border-right: 1px solid grey;
}
tr {
	border-bottom: 1px solid grey;
}
/*  -------------------------------  */
select {
	font-size: 20px;
	font-family: Arial;
	border: 1px solid grey;
	padding-bottom: 1px;
}
input[type=text] {
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
	border: 1px solid grey;	
	margin-bottom: 5px;
}
input[type=number] {
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
	border: 1px solid grey;	
	margin-bottom: 5px;
}
input[type=file] {
	font-size: 18px;
	font-family: 'Courier New', Courier, monospace;
	border: 1px solid grey;	
	margin-bottom: 5px;
}
input[type=password] {
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
	border: 1px solid grey;
	margin-bottom: 5px;
}
input[type=button] {
	font-size: 20px;
	border: 1px solid grey;
	/* padding-top: 3px; */
}
input[type=button]:hover {
	box-shadow: 0px 0px 4px grey;
}
label {
	display: inline-block;
	/* width: 170px;
	text-align: right; */
}
#adduser label {
	width: 170px;
	text-align: right;
}
#addcoll label {
	width: 120px;
	text-align: right;
}
#addcoll select {
	margin-bottom: 4px;
}
/* Work Place ----------------------*/
.admt_wr {
	z-index: 1;
	position: relative;
	top: 32px;
	left: 32px;
	/* background-color: #dee; */
	width: calc(100% - 34px);
	/* height: 100%; */
}
.user_info {
	padding:0;
	margin: 0;
}
/* user list */
.user_list {
	width: 100%;
}
.user_list tr:first-child {
	font-weight: bold;
	text-align: center;
}
.user_list tr:nth-child(even) {
	background-color: #f8f8f8;
}
.user_list tr:hover {
	background-color: #e2e2e2;
	cursor: pointer;
}
.user_list tr:first-child:hover {
	background-color: transparent;
	cursor: default;
}
.user_list tr:first-child>td:first-child {
	width: min-content;
}
.user_list tr:first-child>td:last-child {
	width: 228px;
}
/*  ---  add user window  ---  */
.window_wr {
	display: none;
	z-index: 10;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
}
.window {
	width: fit-content;
	background: rgb(250, 250, 250);
	margin: 0 auto;
	margin-top: 20px;
	box-shadow: 0px 0px 8px #222;
	font-size: 20px;
}
.window_controls {
	height: 38px;
	position: relative;
	background-color: #333;
}
.window_controls input[type=button] {
	display: inline-block;
	position: absolute;
	right: 3px;
	top: 3px;
	border-radius: 0px;
	border: 1px solid grey;
	font-size: 28px;
	height: 32px;
	padding: 0px 7px;
}
.window_controls input[type=button]:hover {
	border: 1px solid rgb(156, 0, 0);
	background-color: rgb(236, 0, 0);
	color: #eee;
}
.window_controls span {
	display: inline-block;
	width: 100%;
	color: #ddd;
	font-weight: bold;
	text-align: center;
	vertical-align: -webkit-baseline-middle;
}
.window_content {
	padding: 5px;
}
#closedelusrbtn {
	border: 1px solid rgb(156, 0, 0);
	background-color: rgb(216, 0, 0);
	color: #ddd;
	float: right;
}
.errtxt {
	border-left: 4px solid #a00;
	font-family: 'Courier New', Courier, monospace;
}
.ok_btn:hover {
	background-color: rgba(0, 150, 0, 0.7);
	border: 1px solid rgb(0, 100, 0);
}
.cancel_btn {
	float: right;
}
.cancel_btn:hover {
	border: 1px solid rgb(156, 0, 0);
	background-color: rgb(216, 0, 0);
	color: #ddd;
}
.new_btn:hover {
	background-color: rgba(0, 0, 150, 0.7);
	border: 1px solid rgb(0, 0, 100);
	color: #ddd;
}