/*
file:	ADMT_menu.css;
autor:	asdandgamer;
e-mail: asdandgamer@gmail.com;
date:	05.09.2018;
--------------------------------
description: Menu Styles;
*/
/* Left Menu -----------------------*/
.left_menu {
	z-index: 3;
	position: fixed;
	background-color: #333;
	width: 30px;
	height: 100%;
	padding-top: 2px;
	border-right: 1px solid grey;
}
.left_menu:hover {
	width: 175px;
}
.left_menu>a {
	display: block;
	text-decoration: none;
	font-family: "Arial";
	/* font-weight: bold; */
	font-size: 26px;
	color: #ccc;
	padding-left: 5px;
	height: 30px;
}
.left_menu>a:hover {
	color: #2aa;
}
.menu_item_logo {
	display: inline-block;
}
.menu_item_label {
	display: none;
}
.left_menu:hover .menu_item_label {
	display: inline-block;
}
.lmenu_link_selected {
	background-color: #777;
}