/*
file:	ADMT_userbar.css;
autor:	asdandgamer;
e-mail: asdandgamer@gmail.com;
date:	15.09.2018;
--------------------------------
description: User Bar Styles;
*/
.user_bar_wr {
    z-index: 2;
	position: fixed;
	background-color: #333;
	height: 32px;
	left: 30px;
    width: calc(100% - 30px);
}
.user_bar {
	color: #ccc;
    font-size: 26px;
}
.user_bar>span {
    float: right;
	margin-right: 4px;
	right: 3px;
}
.user_bar>input[type=button] {
    float: right;
	margin-right: 2px;
	margin-top: 2px;
}